.wrapper {
  background-image: url("./assets/images/phoneBackground.png");
  background-size: cover;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.container {
  height: 350px;
  width: 250px;
  background-color: grey;
  margin: 6% 10% 6% 6%;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
h1 {
  font-size: 20px;
  color: aliceblue;
  margin-top: 10%;
}
.screen {
  height: 40px;
  width: 210px;
  background-color: white;
  margin: 20px 20px 0px 20px;
  position: relative;
}
.buttoncontainer {
  display: flex;
  justify-content: space-around;
}
.clear {
  height: 30px;
  width: 100px;
  background-color: white;
  margin: 10px 20px 10px 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete {
  height: 30px;
  width: 100px;
  background-color: white;
  margin: 10px 20px 10px 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottomwrapper {
  display: flex;
}
.digits {
  float: left;
  height: 175px;
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 20px;
}
.digits div {
  margin: 2px 2px 2px 2px;
  height: 45px;
  width: 45px;
  background-color: white;
}
.operators {
  height: 167px;
  width: 35%;
  float: right;
  display: flex;
  flex-direction: column;
}
.operators div {
  height: 45px;
  width: 55px;
  background-color: white;
  margin: 2px 20px 2px 4px;
}

@media screen and (min-width: 600px) {
  .wrapper {
    background-image: url("./assets/images/Background.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 40px;
    margin-top: 5%;
  }
  .container {
    height: 600px;
    width: 400px;
    background-color: grey;
    border-radius: 20px;
    margin: 2% 10% 20% 10%;
  }
  .screen {
    height: 50px;
    width: 360px;
    background-color: white;
    margin: 20px 20px 10px 20px;
    position: relative;
  }
  .clear {
    font-size: 20px;
    height: 50px;
    width: 200px;
    background-color: white;
    margin: 10px 20px 20px 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .delete {
    font-size: 20px;
    height: 50px;
    width: 200px;
    background-color: white;
    margin: 10px 20px 20px 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
